.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: linear-gradient(to right, white 52.8%, #f4f6fc 30%);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 26px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 6px 10px;
  width: 570px;
  border: 1px solid #ddd;
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 8px;
  background: transparent;
}

.icon {
  font-size: 18px;
  color: #555;
}

.bell {
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #00e4e6;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.add-btn {
  background-color: #3632a6;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
    padding: 10px 16px;
    background: linear-gradient(to right, white 90.4%, #f4f6fc 10%);
    ;
  }

  .header-right {
    width: 80%;
    padding-left: 20px;
  }

  .header-left {
    display: none;
  }

  .search-bar {
    width: 80%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 6px 4px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    width: 100%;
    padding-left: 0;
    gap: 8px;
  }

  .search-bar {
    width: 100%;
    max-width: 180px;
    padding: 4px 6px;
  }

  .icon {
    font-size: 14px;
  }
}